@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');
ion-content {
  font-family: 'Montserrat', sans-serif;
  background: #03a9f5;
  background: -moz-linear-gradient(-45deg, #03a9f5 0%, #03a9f5 65%, #018cee 65%, #018cee 100%);
  background: -webkit-linear-gradient(-45deg, #03a9f5 0%, #03a9f5 65%, #018cee 65%, #018cee 100%);
  background: linear-gradient(135deg, #03a9f5 0%, #03a9f5 65%, #018cee 65%, #018cee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03a9f5', endColorstr='#018cee', GradientType=1);
}

ion-list {
  margin: 0px !important;
  padding: 0px !important;
}

ion-item {
  height: 140px;
  background-color: #fff !important;
  border-bottom: 5px solid #0390D1 !important;
  color: #555 !important;
  margin: 0px !important;
  padding: 0px !important;
  margin-bottom: 35px !important;
  h2 {
    font-weight: 500 !important;
    font-size: 24px !important;
  }
  p {
    font-weight: 300 !important;
    color: #02A3EB !important;
  }
  img {
    width: 64px !important;
    height: 64px !important;
    padding: 5px !important;
    margin-left: 8px;
  }
}

.buy-list-item {
  height: 80px !important;
  h2 {
    color: #02A3EB !important;
  }
}

.slogan-text {
  color: #fff !important;
  font-size: 18px !important;
}

.auto-scroll .scroll-content {
  overflow: auto;
}

.title {
  color: #fff !important;
}

.title-hr {
  background-color: #fff !important;
  height: 3px;
  width: 30%;
}

.speaker-image {
  border-radius: 0px !important;
  width: 96px !important;
  height: 96px !important;
  padding: 5px !important;
  margin-left: 18px;
}
